@mixin nav-list-options{
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border-style: none;
    font-size: .9375rem;
    text-decoration: none;
    cursor: pointer;
}

@mixin button-list-options{
    color: #00AC4D;
    background-color: transparent;
    border-style: none;
    font-size: .875rem;
    text-decoration: none;
    cursor: pointer;
}

