@mixin container-center{
    width: 75%;
    margin: auto;
}

@mixin d-flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin button-list-options{
    color: #00AC4D;
    background-color: transparent;
    border-style: none;
    font-size: .875rem;
    text-decoration: none;
    cursor: pointer;
}

@mixin circle-frame{
    width: 2.5rem;
    height: 2.5rem;
    padding: .625rem;
    border-radius: 50%;
}

@mixin nav-list-options{
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border-style: none;
    font-size: .9375rem;
    text-decoration: none;
    cursor: pointer;
}